{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>{{ _('Log In') }}</h1>
    {{ wtf.quick_form(form) }}
    <p>
        {{ _('Forgot Your Password?')}}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Click to reset It') }}</a>
    </p>
    <p>
        If you don't have an account yet.
        <a href="{{ url_for('auth.register') }}">{{ _('Sign up') }}</a>
    </p>
{% endblock %}

