{% extends 'base.html' %}

{% block title %}
{{ _('404 Page Not Found') }}
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>{{ _('404 NOT FOUND') }}</h1>
    <p><a href="{{ url_for('main.index') }}">{{ _('Back') }}</a></p>
</div>
{% endblock %}