{% extends 'base.html' %}

{% block title %}
{{ -('500 Internal Server Error') }}
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>{{ _('500 Internal Server Error') }}</h1>
    <p><a href="{{ url_for('main.index') }}">{{ _('Back') }}</a></p>
</div>
{% endblock %}