<!doctype html>
<html>
    <body>
        <p>Dear {{ user.username }},</p>
        <p>Welcome to App-Flask-Test!</p>
        <p>
            To confirm your account please click on the following link:
            <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">
                click here
            </a>.
        </p>
        <p>Sincerely,</p>
        <p>The app-flask-test Team</p>
        <p>Note: replies to this email address are not monitored.</p>
    </body>
</html>