{% block content %}
<div class="container mt-5">
     <table class="table table-hover">
         <tr>
             <td width="30px">
                    <img src="{{ comment.author.avatar(30) }}">
                    <a href="{{ url_for('main.user', username=comment.author.username) }}">
                        {{ comment.author.username }}
                    </a>
                    <p class="right_comment_side">{{ comment.date.strftime('%d.%m.%Y-%H.%M') }}</p>
                    <div class="stat_comment">
                        <a>{{ comment.comment_body }}</a>
<!--                        <div class="right_stat_side">&#10084; {{ comment.likes }}</div>-->
                    </div>
                    {% if comment.author == current_user %}
                        <a href="{{ url_for( 'main.comment_update', comment_id=comment.id) }}" class="btn btn-success">
                            {{ _('Update comment') }}
                        </a>
                    {% endif %}
                    {% if post_article.author == current_user or comment.author == current_user %}
                        <a href="{{ url_for( 'main.comment_delete', comment_id=comment.id) }}" class="btn btn-danger">
                            {{ _('Delete comment') }}
                        </a>
                    {% endif %}

             </td>
     </table>
</div>

{% endblock %}