 <table class="table table-hover">
         <tr>
             <td width="70px">
                 <a href="{{ url_for('main.user', username=message.author.username) }}">
                    <img src="{{ message.author.avatar(70) }}" />
                </a>
             </td>
             <td>
                 {% set user_link %}
                    <a href="{{ url_for('main.user', username=message.author.username) }}">
                        {{ message.author.username }}
                    </a>
                {% endset %}
                 {{ _('%(username)s', username=user_link) }}
                    {{ _('%(when)s',
                        when=moment(message.timestamp).fromNow()) }}
                 <br><br>
                 <p id="message{{ message.body }}">
                      <a>{{ message.body }}</a>

                </p>
            </td>
        </tr>
 </table>

