{% block body %}
<div class="container mt-5" xmlns="http://www.w3.org/1999/html">
    <img src="{{ post_article.author.avatar(70) }}">
            <a href="{{ url_for('main.user', username=post_article.author.username) }}">{{ post_article.author.username
                }}</a>
    <br>
    <p>{{ _('Date:') }} {{ post_article.date.date() }}</p>

    <div class="alert alert-info">
        <b>{{ _('Title:') }}</b>
        <p>{{ post_article.title }}</p>
        <p></p>
    </div>
    <div class="alert alert-info">
        <span id="post_article{{ post_article.id }}">
        <p>{{ post_article.text }}</p>
        </span>
        <p>
        {% if post_article.language and post_article.language != g.locale %}
        <span id="translation{{ post_article.id }}">
            <a href="javascript:translate(
                'post_article{{ post_article.id }}.textContent',
                'translation{{ post_article.id }}',
                '{{ post_article.language }}',
                '{{ g.locale }}');">{{ _('Translate') }}
            </a>
        </span>
        {% endif %}
        </p>


    </div>

</div>
{% endblock %}
