<!--TODO: убрать подчеркивание при использовании тега а-->
<a href="/posts/{{ post.id }}">
    <table class="table table-hover" >
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>

            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}
                 {{ _('%(username)s', username=user_link) }}
                <p></p>
                <span id="text{{ post.id }}">
                      {{ post.title }}
                </span>
                {% if post.language and post.language != g.locale %}
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                'post{{ post.id }}',
                                'translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
                <div class="left_side_stat_post">&#128065; {{ post.views }}</div>
                <div><b><i class="right_side_stat_post"></i>&#10084;</b>{{ post.likes|length }}</div>
                <div><b><i class="fa-regular fa-comments"></i>&nbsp;</b>{{ post.comments|length }}</div>
                <p>{{ _('%(when)s', when=moment(post.date).fromNow()) }}</p>
            </td>
        </tr>
    </table>
</a>