{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}
{{ _('About us') }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ _('page about us') }}</h1>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Aliquam aspernatur laboriosam modi quasi.</li>
    <li>Esse fuga modi neque sequi!</li>
    <li>Animi doloremque in iste recusandae?</li>
    <li>Animi, deserunt, itaque. Dicta, inventore!</li>
    <li>Aliquid commodi iure maxime officia?</li>
    <li>Dolore enim error non. Temporibus?</li>
    <li>Aperiam harum optio placeat tempora!</li>
    <li>Commodi labore obcaecati rerum voluptas!</li>
    <li>Eos fugiat illo ipsum pariatur?</li>
    <h5>Hello World</h5>
</div>

{% endblock %}
