<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/7111e75246.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/clock.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/clock.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img class="header__img" src="{{ url_for('static', filename='img/clock.png') }}" alt="clock">
                </a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('main.index') }}" class="nav-link px-2">{{ _('Home') }}</a></li>
                <li><a href="{{ url_for('main.about') }}" class="nav-link px-2">{{ _('About Us') }}</a></li>
                <li><a href="{{ url_for('main.posts') }}" class="nav-link px-2">{{ _('Articles') }}</a></li>
                <li><a href="{{ url_for('main.create') }}" class="nav-link px-2">{{ _('Create Article') }}</a></li>

            </ul>
                {% if current_user.is_anonymous %}
            <div>
                <button type="button" class="btn btn-outline-primary me-2">
                    <a href="{{ url_for('auth.register') }}" class="nav-link px-2">{{ _('Sign up') }}</a>
                </button>
                <button type="button" class="btn btn-outline-primary me-2">
                    <a href="{{ url_for('auth.login') }}" class="nav-link px-2">{{ _('Log In') }}</a>
                </button>

            </div>
                {% else %}
            <div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="{{ url_for('main.user', username=current_user.username)}}">
                            {{ _('Hello, ') }}
                            {{ _('%(username)s', username=current_user.username) }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.messages') }}">
                            {{ _('Messages') }}
                            {% set unread_message_count = current_user.unread_message_count() %}
                                <span id="message_count" class="badge text-bg-danger"
                                    style="visibility: {% if unread_message_count %}visible
                                    {% else %}hidden{% endif %};">
                                    {{ unread_message_count }}
                                </span>
                        </a>
                    </li>
                </ul>
            </div>

                <button type="button" class="btn btn-outline-primary me-2">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link px-2">{{ _('Logout') }}</a>
                </button>


                {% endif %}

        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                        <a class="close" href="">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
        <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company, Inc</p>
                <a href="/"
                   class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img class="header__img" src="{{ url_for('static', filename='img/clock.png') }}" alt="clock">
                </a>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a href="{{ url_for('main.index') }}" class="nav-link px-2 link-secondary">
                        {{ _('Home') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.about') }}" class="nav-link px-2 link-secondary">
                        {{ _('About Us') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.posts') }}" class="nav-link px-2 link-secondary">
                        {{ _('Articles') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.create') }}" class="nav-link px-2 link-secondary">
                        {{ _('Create Article') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.create_new_page') }}" class="nav-link px-2 link-secondary">
                        {{ _('Create new page') }}
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        async function translate(sourceElem, destElem, sourceLang, destLang) {
            document.getElementById(destElem).innerHTML =
                '<img src="{{ url_for('static', filename='img/loading.gif') }}">';
            const response = await fetch('/translate', {
                method: 'POST',
                headers: {'Content-Type': 'application/json; charset=utf-8'},
                text: JSON.stringify({
                    text: document.getElementById(sourceElem).innerText,
                    source_language: sourceLang,
                    dest_language: destLang
                })
            })
            const data = await response.json();
            document.getElementById(destElem).innerText = data.text;
        }
    </script>
    <script>
        function set_message_count(n) {
            const count = document.getElementById('message_count');
            count.innerText = n;
            count.style.visibility = n ? 'visible' : 'hidden';
        }
    </script>
    <script>
        {% if current_user.is_authenticated %}
        function initialize_notifications() {
            let since = 0;
            setInterval(async function() {
                const response = await fetch('{{ url_for('main.notifications') }}?since=' + since);
                const notifications = await response.json();
                for (let i = 0; i < notifications.length; i++) {
                    if (notifications[i].name == 'unread_message_count')
                        set_message_count(notifications[i].data);
                    since = notifications[i].timestamp;
                }
            }, 10000);
        }
        document.addEventListener('DOMContentLoaded', initialize_notifications);
        {% endif %}
    </script>
</body>
</html>
