{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}
{{ _('Update comment') }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ _('Update comment') }}</h1>

<div class="content_comment">
    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>

</div>
{% endblock %}