{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}
{{ _('Add a new article') }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ _('Add a new post, %(username)s', username=current_user.username) }}</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% endblock %}


