{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% if posts|length > 0 %}
        {% for post in posts %}
        <div class="col-md-6 item">
            <div class="item-in">
                <p>
                    <a href="{{ url_for('main.user', username=post.author.username)}}">
                        <strong class="d-block text-gray-dark">{{ post.author.username }}</strong>
                    </a>
                </p>
                <h4>{{ post.title }}</h4>
                <div class="seperator"></div>
                <p>{{ post.text }}</p>

                <p><b>{{ post.date.date() }}</b></p>
                <a href="/posts/{{ post.id }}">{{ _('Read More') }}
                    <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
            <div class="post_stat_side">
                <div class="left_side_stat_post">&#128065; {{ post.views }}</div>
                <div><b>&#10084;</b> {{ post.likes|length }}</div>
                <div><b><i class="fa-regular fa-comments"></i>&nbsp;</b>{{ post.comments|length }}</div>
            </div>

        </div>
        {% endfor %}
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
        {% endif %}
        {% else %}
        <p>{{ _('There are no articles in this blog.') }}</p>
        {% endif %}
    </div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}





