{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block content %}
    <h1>{{ _('Messages') }}</h1>
    {% if messages|length > 0 %}
    {% for message in messages %}
        {% include '_messages.html' %}
    {% endfor %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.messages') }}
        </div>
    {% endif %}
    {% else %}
        <p>{{ _("You don't have any messages.")}}</p>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
