{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block content %}
<!--TODO: придумать как красиво сделать эту надпись-->
<!--    <h1>{{ _('Hi, %(username)s!', username= current_user.username) }}</h1>-->
<!--    <p class="text-center color1 mb-5">{{ _('Hi, %(username)s!', username= current_user.username) }}</p>-->
    {% if posts|length > 0 %}
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.posts') }}
            </div>
        {% endif %}
    {% else %}
        <p>{{ _('There are no articles in this blog.')}}</p>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
