{% extends 'base.html' %}

{% block title %}
{{ _('Update article') }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ _('Update article') }}</h1>

    <form method="post" class="form-control">
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter article title" value="{{ post.title }}"><br>
        <input type="text" name="text" id="text" class="form-control" value="{{ post.text }}" placeholder="Enter text" ><br>
        <button class="btn btn-success" type="submit">{{ _('Update') }}</button>
    </form>
</div>
{% endblock %}