{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}


{% block content %}
    <table class="table table-hover">
        <div class="container mt-5">
            {% include '_post_detail.html' %}
            {% if current_user == post_article.author %}
            <a href="/posts/{{ post_article.id }}/update" class="btn btn-success" >{{ _('Edit text') }}</a>
            <a href="/posts/{{ post_article.id }}/del" class="btn btn-danger">{{ _('Delete Article') }}</a>
            {% endif %}
        </div>
        <hr>
           <div class="post_stat_side">
               {% if current_user.id in like|map(attribute="user_id")|list %}
                <a href="/like-post/{{ post_article.id }}"><i class="fa-solid fa-heart"></i></a>
               {% else %}
                <a href="/like-post/{{ post_article.id }}"><i class="fa-regular fa-heart"></i></a>
               {% endif %}
               {{ like|length }}
               <div class="left_side_stat_post">&#128065; {{ post_article.views }}</div>
               <div><b><i class="fa-regular fa-comments"></i>&nbsp;</b>{{ comments|length }}</div>
           </div>
        <p></p>
            <a href="/posts/{{ post_article.id }}/comments" class="btn btn-success" >{{ _('Add your comment') }}</a>
    </table>
    {% if comments|length > 0 %}
        {% for comment in comments %}
            {% include '_comment.html' %}
        {% endfor %}
    {% else %}
        <p>{{ _('No comments.')}}</p>
    {% endif %}


{% endblock %}