{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}


{% block content %}
    <table class="table table-hover">
        <tr>
            <td width="256"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                <p id="user{{ user.about_me }}">
                    {% if user.language != g.locale %}
                        <span id="translation{{ user.about_me }}">
                            <a href="javascript:translate(
                            'user{{ user.about_me }}',
                            'translation{{ user.about_me }}',
                            '{{ user.about_me.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}
                            </a>
                        </span>
                    {% endif %}
                </p>
                {% if user.last_seen %}
                <p>{{ _('Last seen on')}}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ _('%(count)d Followers', count=user.followers_count()) }}, {{ _('%(count)d Following',
                    count=user.following_count()) }}</p>
                {% if user == current_user %}
                <p>
                    <a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Follow'), class_='btn btn-primary') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Unfollow'), class_='btn btn-primary') }}
                    </form>
                </p>
                {% endif %}
                {% if user != current_user %}
                <p>
                    <a href="{{ url_for('main.send_message', recipient=user.username) }}">
                        {{ _('Send private message') }}
                    </a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>

    {% if posts|length > 0 %}
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        {% if pagination %}
        <ul class="pagination">
            <li {% if not pagination.has_prev %} class="disabled"{% endif %}>
                    <a href="{% if pagination.has_prev %}
                        {{ url_for('main.user', page=pagination.prev_num, username=user.username) }}
                        {% else %}#{% endif %}">
                        &laquo;
                    </a>
            </li>
            {% for p in pagination.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
                {% if p %}
                    {% if p == pagination.page %}
                        <li class="active">
                            <a class="paginate_link push" href="{{ url_for('main.user', page = p, username=user.username) }}">
                                {{ p }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="paginate_link"
                                href="{{ url_for('main.user', page = p, username=user.username) }}">
                                    {{ p }}
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="disabled">
                        <a href="#">&hellip;</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li {% if not pagination.has_next %} class="disabled"{% endif %}>
                    <a href="{% if pagination.has_next %}{{ url_for('main.user', page=pagination.next_num, username=user.username) }}
                        {% else %}#{% endif %}">
                            &raquo;
                    </a>
            </li>
        </ul>
        {% endif %}
    {% else %}

        <p>
            {{ _('Unfortunately, ') }} {{ user.username }} {{ _(' has no articles on this blog yet.')}}
        </p>

    {% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
